{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>
    <div class="gamecardodd">
        <div class="gamecard">
            <div class="gamepreview">
                <img src="build/images/tetris.png" alt="tetris">
                <h3>Tetris</h3>
            </div>
            <p class=""> Catégorie : Puzzle <br /> Description : <br />
            Range des formes afin de créer un maximum de lignes pour gagner des points.</p>
            <div class="gamepodium">
                <img src="build/images/podium.png" alt="podium">
                <h5 class="firstpodium">XxBaptisteLeBossXx</h5>
                <h5 class="secondpodium">Steph_UwU</h5>
                <h5 class="thirdpodium">DarkSajid</h5>
            </div>
        </div>
    </div>
{% endblock %}
