{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

       
    <div class="gamecard1">
        <div class="gamecard">
            <div class="gamepreview">
 <img src="build\images\tetris.11d717cd.png">
  <h3>Tetris</h3>
            
            <p class="cardaccueil"> Catégorie : Puzzle <br /> Description : <br />
            Range des formes afin de créer un maximum de lignes pour gagner des points.</p>
             </div>
             
               <div class="gamecard2">
        <div class="gamecard">
            <div class="gamepreview">
 <img src="build\images\tetris.11d717cd.png">
  <h3>Tetris</h3>
           
          
            <p class="cardaccueil2"> Catégorie : Puzzle <br /> Description : <br />
            Range des formes afin de créer un maximum de lignes pour gagner des points.</p>
             </div>
 </div>
</div> 
 </div> 
  </div>

   <div class="gamepodiumaccueil">
   <div class="podium">
                <h5 class="firstpodium">BaptisteLeBoss</h5>
                <h5 class="secondpodium">Steph_UwU</h5>
                <h5 class="thirdpodium">DarkSajid</h5>
            <img src="build\images\podium.50a22300.png">
    </div>
</div>
</div>
{% endblock %}
