form {
    width: 35%;
    margin: auto;
}

.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 15rem;
    margin-top: 0.6rem;
    background-color: #061828;
}

input, select, textarea {
    color:rgba(123, 23, 166, 0.82);
    border-color: rgba(123, 23, 166, 0.82);
}

.inputneonpurple {
    box-shadow: 0px 0px 7px 2.5px rgba(123, 23, 166, 0.82);
    border: solid 3px rgba(123, 23, 166, 0.82);
    border-radius: 50px;
}

::placeholder {
    color: rgba(123, 23, 166, 0.82);
    font-weight: bold;
}

button {
    color: rgba(123, 23, 166, 0.82);
    width: 7rem;
    margin-top: 2rem;
    background-color: #061828;
    font-weight: bold;
}

button:hover {
    background-color: rgba(123, 23, 166, 0.82);
    color:#061828;
}

.redirectbutton button {
    display: flex;
    width: 20rem;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
}

form {
    background-color: pink;
}