canvas {
    display: flex;
    border: 3px solid #7B17A6;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 10px #7B17A6;
}

.h2-snake {
    text-align: center;
    padding-bottom: 2rem;
}

.container-snake {
    position: relative;
}

/* boutons */
.replay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 10px 10px #13DCF2;
    width: 12.5rem;
    height: 3rem;
    background: #7B17A6;
    color: #13DCF2;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-top: 0;
}

.replay-visibility {
    visibility: visible;
}

.replay-hidden {
    visibility: hidden;
}

.replay:hover {
    background: #13DCF2;
    color: #7B17A6;
    font-weight: bold;
    font-size: 2.1rem;
    box-shadow: none;
}
