section.home-game{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}


section.home-podium {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article.home-card-game {
    display: flex;
    flex-direction: column;

    width: 25rem;
}

.card-game-top img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}

.card-game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card-game-body h3 {
    margin: 1rem 0;
    font-size: 2.2rem;
}

.card-game-text h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.card-game-text p {
    font-size: 1.2rem;
}

section.home-podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
    
}

section.home-podium h2 {
    margin-bottom: 5rem;
    font-size: 4rem;
}

.podium {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 3rem;
    
}

.podium-name {
    display: flex;
    text-align: center;
}

.podium-name > h4, .podium-name > h3 {
    position: absolute;
    
    
}

.podium-name .second-place {
    font-size: 2rem;
    left: 30%;
    transform: translateX(-100%);
    rotate: -20deg;
    transform-origin: 0%;
}

.podium-name .first-place {
    top: -25%;
    font-size: 2.5rem;      
    translate: -50%;

    
}

.podium-name .third-place {
    font-size: 1.5rem;
    right: 25%;
    top: 20%;
    rotate: 20deg;
    transform: translateX(100%);
    transform-origin: 100%;
}

.podium-image img {
    width: 25rem;
}