section.home-game{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}


section.home-podium {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article.home-card-game {
    display: flex;
    flex-direction: column;

    width: 25rem;
}

.card-game-top img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}

.card-game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card-game-body h3 {
    margin: 1rem 0;
    font-size: 2.2rem;
}

.card-game-text h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.card-game-text p {
    font-size: 1.2rem;
}

section.home-podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
    
}

section.home-podium h2 {
    margin-bottom: 5rem;
    font-size: 4rem;
}

.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 3rem;
    
}

.podium-name {
    display: flex;
    justify-content: space-between;
}

.podium-name * {
    position: absolute;
    
}

.podium-name .second_place {
    top: 15%;
    left: -10%;
    rotate : -20deg;
    font-size: 2rem;
}

.podium-name .first_place {
    top: -25%;
    font-size: 2.5rem;
    translate: -50%;
}

.podium-name .third_place {
    top: 25%;
    rotate: 20deg;
    font-size: 1.5rem;
    translate: 100%;
}

.podium-image img {
    width: 25rem;
}