@import "general.css";
@import "accueil.css";
@import "mentionlegale.css";
@import "lots.css";
@import "page-games.css";
@import "contact.css";
@import "details-games/planet_defense.css";
@import "details-games/details-game.css";
@import "details-games/snake.css";
@import "details-games/pacman.css";



@import "monprofil.css";
