
.container img {
    display: flex;
    width: 8rem;
    height: 8rem;
}

.container {
    margin: 4rem;
}

.article-lots {
    display: flex;
    margin: 1rem 10rem 2rem 10rem;
    align-items: center;

}

.palier {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

h2 {
    margin: .5rem;
}

.p-lot {
    font-size: 1.1rem;
    margin: .5rem;
}

img {
    margin: .5rem;
}

.conditions {
    display: flex;
    justify-content: center;
    margin: 1rem 4rem 3rem 4rem;
}

/* MODALE */

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    padding: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #061828;
    max-width: 80vw;
    margin: auto;
    flex: 1;
    position: relative;
    border: 2px solid #13DCF2;
    border-radius: 1rem;
}

.modal-close {
    position: absolute;
    top: 0.3rem;
    right: .5rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-body {
    display: flex;
    justify-content: center;
    zoom: 200%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-footer {
    text-align: center;
    zoom: 130%;
    padding-bottom: 1rem;
}