.username {
padding: 5rem;
display: flex;
  justify-content: center;
}

.monprofilfirstname {
    margin-bottom: 1rem;
}

.monprofillastname {
    margin-bottom: 1rem;
}

.monprofilbirthdate {
    margin-bottom: 1rem;
}

.monprofilusername {
    margin-bottom: 1rem;  
}

.monprofiltype {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem; 
}

.buttondelete {
    display: flex;
    justify-content: center;
}