.username {
display: flex;
justify-content: center;
}

.monprofilfirstname {
    margin-bottom: 2rem;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.monprofillastname {
    margin-bottom: 2rem;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.monprofilbirthdate {
    margin-bottom: 2rem;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.monprofilusername {
    margin-bottom: 2rem; 
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px; 
}

.monprofiltype {
    display: flex;
    justify-content: center;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
   
}

.buttondelete {
    display: flex;
    justify-content: center;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

input, select, textarea {     
    color:rgba(123, 23, 166, 0.82);     
    border-color: rgba(123, 23, 166, 0.82);
 }  
 
 .inputneonpurple {    
     box-shadow: 0px 0px 7px 2.5px rgba(123, 23, 166, 0.82);    
      border: solid 3px rgba(123, 23, 166, 0.82);    
       border-radius: 50px;
 }

 button {     
    color: rgba(123, 23, 166, 0.82);     
    width: 7rem;     
    margin-top: 2rem;     
    background-color: #061828;     
    font-weight: bold; 
}

button:hover {     
    background-color: rgba(123, 23, 166, 0.82);     
    color:#061828; 
}

.redirectbutton button {     
    display: flex;     
    width: 20rem;     
    justify-content: center;     
    margin: auto;     
    margin-top: 5rem; 
}