{% extends 'base.html.twig' %}

{% block title %}Snake{% endblock %}

{% block body %}
    <h1>Snake</h1>
    <h2>Score : <span class="score">0</span></h2>
<canvas id="canvas" width="37.5rem" height="37.5rem"></canvas>
    <script src="script.js"></script>
{% endblock %}
