{% extends 'base.html.twig' %}

{% block title %}Snake{% endblock %}

{% block body %}
    <h1>Snake</h1>
    <h2 class="h2-snake">Score : <span class="score">0</span></h2>
    <canvas id="canvas" width="38rem" height="38rem"></canvas>
    <button class="replay" onclick="clickButton()">Rejouer</button>
    <script src="script.js"></script>
{% endblock %}
