{% extends 'base.html.twig' %}

{% block title %}Snake{% endblock %}

{% block body %}
    <h1>Snake</h1>
    <h2 class="h2-snake">Score : <span class="score">0</span></h2>
    <div class="snakegame">
        <canvas id="snake" width="600" height="600"></canvas>
        <button class="replay" onclick="clickButton()">Rejouer</button>
    </div>
{% endblock %}
