{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}
<h1> Contactez nous</h1>
    <div class="contact">
        {{ form_start(formContact) }}
        {{ form_widget(formContact) }}
          <button type="submit" class="inputneonpurple">Valider</button>
        {{ form_end(formContact) }}
    </div>
    <div class="center">
      <div class="contacte">
        SARL Wildy Gaming<br>
        Numéro de SIRET : 00001735600027<br>
        1 Rue des corps-de-garde, 67100 Strasbourg<br>
        Téléphone : 09 78 45 04 38<br>
        Email : contact@WildyGaming.fr.fr<br>
        Site Web : www.WildyGaming.fr<br>
          <div class="carte">
            <img src="{{ asset("build/images/adresse.png") }}" width= "500rem" alt="carte" />
          </div>
      </div>
    </div>
{% endblock %}