{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}
<h1> Contactez nous</h1>
    <div class="contact">
        {{ form_start(formContact) }}
        {{ form_widget(formContact) }}
          <button type="submit" class="btn">Valider</button>
        {{ form_end(formContact) }}
    </div>
    <div class="center">
    <div class="contacte">
      SARL Wildy Gaming<br>
       Numéro de SIRET : 00001735600027<br>
       1 Rue des corps-de-garde, 67100 Strasbourg<br>
       Téléphone : 09 78 45 04 38<br>
       Email : contact@WildyGaming.fr.fr<br>
       Site Web : www.WildyGaming.fr<br><br>
       HORAIRE D OUVERTURE<br>
       du lundi au jeudi          9H/22H<br>
       du vendredi au dimanche    9h/0h00<br>
       jours fériés               9h/2h00<br>
    <div class="cartes">
             <img src="{{ asset("build/images/adresse.png") }}" width= "500rem" alt="carte" />
    </div>
    </div>
    </div>
{% endblock %}