<footer>
   <div class="footer_left neonblue" >
 
    <a href="">Mentions légales</a>
    <a href="">Réseaux Sociaux</a>
      </div>     
   <div class= "footer_right neonblue">
    <a href="">Adresse</a>
    <a href="">Contactez nous</a>
    </div>
     
</footer>
