<footer class="neonblue">
   <div class="" >
 
      <a class="" href="">Mentions légales</a>
      <div class="reseau-sociaux ">
         <a href=""><img  src="{{ asset("build/images/Icones/Icone_Instagram.svg") }}" alt="instagram"></a>
         
         <a href=""><img class="twitter" src="{{ asset("build/images/Icones/Icone_Twitter X.svg") }}" alt="twitter"></a>
         <a href=""><img src="{{ asset("build/images/Icones/Icone_Facebook.svg") }}" alt="facebook"></a>
      </div>
   </div>     
   <div class= "">
      <a href="">Adresse</a>
      <a href="">Contactez nous</a>
   </div>
</footer>
