<nav class="navbar neonblue">
    <a class="accueil" href="{{ path('home') }}">Accueil</a>
    <a  class="jeux" href="">Jeux</a>
    <img class="logo" src="{{ asset("build/images/Logo.svg") }}"  width= "200rem">
    <a class="lot" href="{{ path('Lots_index') }}">Lots</a>
    <a class="connexion" href="">Connexion</a>
</nav>
